.popup__container {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 430px;
    min-height: 330px;
    border-radius: 10px;
    top: calc(50% - 330px / 3);
    left: calc((100% - 430px) / 2);
    background-color: #ffffff;
}

@media screen and (max-width: 910px) {
    .popup__container {
        width: 252px;
        min-height: 232px;
        top: calc(50% - 232px / 3);
        left: calc((100% - 252px) / 2);
    }
}