.popup__name {
    margin: 54px 0px 0px 0px;
    min-height: 27px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border-bottom: 1px solid #cccccc;
}


@media screen and (max-width: 910px) {
    .popup__name {
        margin-top: 22px;
        font-size: 10px;
    }
}