.profile__name {
    margin: 16px 0px 0px 0px;
    max-width: 295px;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 56px;
    color: #FFFFFF;
}

@media screen and (max-width: 910px) {
    .profile__name {
        font-size: 27px;
        text-align: center;
    }
}